body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("img/2bb9ae97f61df31a3ab12de965cf5771.jpg");
    background-size: 700px 600px;
    background-position: center;  
}
   


.container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: yellow;
    margin-top: 0;
    background-color: red;
    padding: 20px;
    display: inline-block;
    border-radius: 60%;
    height: 50px;
    margin: 20px auto;
    
}

ol {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid #ff0000;
}



.item-name, .description {
    font-weight: bold;
    font-size: 1.2em;
}

.description {
    margin-left: 10px;
    font-size: 14px;
    
}

.container img {
    display: block;
    margin-top: 10px;
    max-width: 100%;
    height: auto;
}

.top-item img {
    flex: 0 0 auto;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 

}




a {
    font-weight: bold;
}

.speech-bubble {
    position: relative;
    width: 480px; 
    height: 300px; 
    
    padding: 10px;
    margin: 20px auto; 
    text-align: center;
    left: -150px;
}

.speech-bubble img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; 
}

.speech-bubble .caption {
    position: absolute;
    top: 30%;
    bottom: 10px;
    left: 40px;
    right: 0;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}